@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  to Azure App services through Git CD CI</h1>
    <h3>
        @ViewData["Greeting"]
    </h3>
</div>
